body{
    background-color: rgb(1, 6, 23);
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0 auto;
    max-width: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    color: #f6c66b;
    background-color: #2f2e4e;
    border-radius: 5px;
    border: solid white;
    box-shadow: 3px 1px 1px rgb(0, 0, 0);

}
.game{
    min-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1b3a;
    margin: 50%;
    padding: 10px;
    border-radius: 10px;
    box-shadow:
    inset 0 -3em 3em rgba(7, 44, 89, 0.3),
    0 0 0 2px white,
    0.3em 0.3em 1em rgba(178, 178, 208, 0.6);


    
}


button{

    border-radius: 50%;
    background-color:#f6c66b;
    border-color: aliceblue;
    cursor: pointer;
    box-shadow:
    inset 0 -3em 3em rgba(7, 44, 89, 0.3),
    0 0 0 2px white,
    0.3em 0.3em 1em rgba(178, 178, 208, 0.6);
    margin: 0 10px;
}